@import "tailwindcss";

:root {
  --background: #FAF7F0;
  --foreground: #4A4947;
}

@theme inline {
  /* Colors */
  --color-primary: #B17457;
  --color-accent: #D8D2C2;
  --color-text: #4A4947;
  --color-background: #FAF7F0;
  --color-white: #F4F4F4;

  /* Fonts */
  --font-pacifico: "Pacifico", cursive;
  --font-montserrat: "Montserrat", sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}